:root {
    --primary-color: '';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

/* --- section 1---- */

#section-1 {
    background: linear-gradient(rgba(236, 222, 14, 0.4), rgba(0, 0, 0, 0.4)),
    url(/assets/img/seccion1.jpg);
    height: 100vh;
    display: flex;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

/* test para el header */
.container__title {
    background: linear-gradient(rgba(5, 7, 12, 0.30), rgba(5, 7, 12, 0.30));
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

/* --- Fin del section 1---- */


/* ----------navbar----------- */

.navbar {
    /* background: url(/assets/img/seccion1.jpg); */
    background-image: inherit;
  
}

.navbar a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;

}

.collapse {
    display: block;
    justify-content: center;

}

.collapse ul {
    gap: 15px;
}